[
    {rabbit, [
        {tcp_listeners, [5672]},
        {default_vhost, <<"/">>},
        {default_user,  <<"admin">>},
        {default_pass,  <<"r@bb1tmul3">>},
        {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
        {default_user_tags, [administrator]}
    ]},
    {rabbitmq_management, [
        {load_definitions, "/etc/rabbitmq/rabbitmq.json"}
    ]}
].
