[
    {rabbit, [ 
        {tcp_listeners, [5672]},
        {default_vhost, <<"/">>},
        {default_user,  <<"admin">>},
        {default_pass,  <<"m3cr@bb1t">>},
        {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
        {default_user_tags, [administrator]}
    ]}
%%,
%%    {rabbitmq_management, [
%%        {load_definitions, "/etc/rabbitmq/rabbitmq.json"}
%%    ]}
].
